<div class="archive-wrapper" id="archivemenu">

    <div class="archive-container">

        <div class="archive-header">
            <h1>Monkeys & Gibbons*</h1>

        </div>

        <!-- Each archive-box is a project in your archive folder, copy and paste part to add more. 
             The a tag represents a link, therefore turning each archive-box into a link to your project. 
        -->

        <a href="./exampleproj1.html">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>White-Eyelid Mangabey</h1>
                </div>
                <div class="archive-info">
                    <h1>VFX Compositing, Houdini</h1>
                </div>
                <div class="archive-date">
                    <h1>2025</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/a.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="./exampleproj2.html">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Terrestrial Guenon</h1>
                </div>
                <div class="archive-info">
                    <h1>Unreal Engine Niagara System</h1>
                </div>
                <div class="archive-date">
                    <h1>2025</h1>
                </div>
                <div class="archive-photo">
                    <h1>VFX, Particle Systems</h1><img src="./images/l.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>

        <a href="./exampleproj3.html">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Atlantic Forest Marmoset</h1>
                </div>
                <div class="archive-info">
                    <h1>Maya VRAY Material & Texture</h1>
                </div>
                <div class="archive-date">
                    <h1>2025</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/b.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>
        <br><br>
        <div class="archive-header">
            <h1>Lemurs & Galagos*</h1>

        </div>

                <a href="">
            <div class="archive-box">
                <div class="archive-title">
                    <h1>Gracile Capuchin Monkey</h1>
                </div>
                <div class="archive-info">
                    <h1>Photoshop & Illustrator</h1>
                </div>
                <div class="archive-date">
                    <h1>2024</h1>
                </div>
                <div class="archive-photo">
                    <h1>Film Editing & Compositing</h1><img src="./images/g.jpg">
                </div>
                <div class="archive-photospace">.</div>
            </div>
        </a>
        

        
    </div>

</div>