<div class="hpslide-wrapper" id="hpslideWrapper">
  <div class="hpslide-titles">
    <a href="./exampleproj1.html">
      <div class="hpslide-title"
        data-sequence="https://huggingface.co/datasets/metroboolean/FEWW25media/resolve/main/Project1_">
        <h1>White-Eyelid Mangabey</h1>
        <h2>2025</h2>
      </div>
    </a>
    <a href="./exampleproj2.html">
      <div class="hpslide-title"
        data-sequence="https://huggingface.co/datasets/metroboolean/FEWW25media/resolve/main/Project2_">
        <h1>Terrestrial Guenon</h1>
        <h2>2025</h2>
      </div>
    </a>
    <a href="./exampleproj3.html">
      <div class="hpslide-title"
        data-sequence="https://huggingface.co/datasets/metroboolean/FEWW25media/resolve/main/Project3_">
        <h1>Atlantic Forest Marmoset</h1>
        <h2>2024</h2>
      </div>
    </a>
  </div>
  <div class="hpslide-media">
    <img class="hpslide-frame" src="" alt="Project frame">
  </div>
</div>