a {
    text-decoration: none;
    color: black;
}

.archive-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    padding-top: 100px;
    margin: 0;
    background-color: #101712;
    z-index: 10;
    opacity: 1;
    animation: ease-in 0.2s archiveload;
    overflow-y: auto;
    box-sizing: border-box;
}

@media all and (max-width: 800px) {
  .archive-wrapper {
    padding: 15px;
    padding-top: 80px;
  }
}

.archive-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100vw - 60px); 
    box-sizing: border-box;
    position: relative; /* Ensure pseudo-element positions correctly */
}

@media all and (max-width: 800px) {
  .archive-container {
    width: calc(100vw - 30px);
  }
}

/* Add a dynamic spacer at the bottom */
.archive-container::after {
    content: "";
    display: block;
    height: 100px; /* Matches the hover expansion height of .archive-photo */
    flex-shrink: 0; /* Prevent the spacer from shrinking */
}

.archive-header {

    padding: 20px;
    margin-bottom: 0px;
}

.archive-header h1 {
    color: #e0e0e0;
    font-family: Graphik;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 0px;
}

.archive-header h2 {
    font-family: Graphik;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.archive-box {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px dotted rgba(240, 240, 240, 0.4);
    border-width: 0 0 1px 0;
    padding: 2px 0px;
  
    background-color: #141f17;
}

@media all and (max-width: 800px) {
  .archive-box {
    justify-content: space-between;
  }
}

.archive-box:hover {
    background-color: darkgreen;
    color: white;
}

.archive-box:hover .archive-title h1 {
    text-decoration: underline;
}

.archive-box:hover .archive-photo {
    position: fixed;
    top: 0px;
    right: 0px;
    height: calc(100vh - 0px);
    width: calc(40vw - 12px);
}

.archive-box:hover .archive-photo img {
    display: flex;
    opacity: 1;
    filter: invert(0);
    mix-blend-mode: normal;
}

@media all and (max-width: 800px) {
  .archive-box:hover .archive-photo img{
    display: none;
  }
}

.archive-box h1 {
    color: #e0e0e0;
    font-family: Graphik;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.archive-title {
    padding: 4px;
    padding-left: 20px;
    width: 25%;
    border: 1px dotted rgba(240, 240, 240, 0.4);
    border-width: 0 1px 0 0px;
    overflow: hidden;
}

@media all and (max-width: 800px) {
  .archive-title {
    width: 75%;
  }
}

.archive-title h1 {
    color: #e0e0e0;
    font-family: Graphik;
    font-size: 14px;
    line-height: 23px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.archive-info {
    padding: 4px;
    padding-left: 9px;
    width: 25%;
    border: 1px dotted rgba(240, 240, 240, 0.4);
    border-width: 0 1px 0 0;
    overflow: hidden;
}

@media all and (max-width: 800px) {
  .archive-info {
    display: none;
  }
}

.archive-info h1 {
    color: #e0e0e0;
    font-family: Graphik;
    font-size: 14px;
    line-height: 23px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.archive-date {
    padding: 4px;
    padding-left: 9px;
    width: 10%;
    min-width: 50px;
    border: 1px dotted rgba(240, 240, 240, 0.4);
    border-width: 0 1px 0 0;
}

@media all and (max-width: 800px) {
  .archive-date {
    width: 25%
  }
}

.archive-date h1 {
    color: #e0e0e0;
    font-family: Graphik;
    font-size: 14px;
    line-height: 23px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.archive-photo {
    padding: 4px;
    padding-left: 9px;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
}

.archive-photo h1 {
    color: #e0e0e0;
    font-family: Graphik;
    font-size: 14px;
    line-height: 23px;
    padding: 0;
    margin: 0;
    margin-top: 7px;
}

@media all and (max-width: 800px) {
  .archive-photo {
    display: none;
  }
}

.archive-photo img {
    position: fixed;
    top: 0px;
    right: 0px;
    height: calc(100vh - 0px);
    width: calc(40vw - 15px);
    display: none;
    object-fit: cover;
    opacity: 1;
    z-index: 10;
    transition: opacity 0.8s, display 0.8s allow-discrete;
}

.archive-box:not(:hover) .archive-photo img {
    opacity: 0;
    mix-blend-mode: difference;
    transition-delay: 0.0s; /* Delay the display change to allow fade-out */
    display: none;
}



@keyframes archivephotoload {
    0% {
        filter: invert(.3);
        mix-blend-mode: difference;
    }
    100% {
        filter: invert(0);
        mix-blend-mode: normal;
    }
}

@keyframes archiveload {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

.archive-photospace {
    display: none;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    margin: 0;
}


.archive-box:hover .archive-photospace {
    display: flex;
}


@media all and (max-width: 800px) {
  .archive-box:hover .archive-photospace {
    display: none;
  }
}
